@import url(https://fonts.googleapis.com/css?family=Arvo);

.deck {
  margin: 40px;

  header {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 20px;
    text-align: center;
    text-shadow: 0px 5px 15px grey;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}